body{margin:2px;}
.box{
    display: flex;
}
.in{
    display: flex;
}
.static, .static_{
    flex: none;
    width: 25em;
}

#box1{background-color: Red; text-align: left}
#box2{background-color: yellow;text-align: center}
#box3{background-color: green;text-align: center}
#box4{background-color: purple;width: 44.6em;text-align: left}
#box5{background-color: blue;text-align: center}
#box6{background-color: gray;text-align: center}
#box7{background-color: orange;width: 44.6em;text-align: left}
#box8{background-color: #B0E0E6;text-align: center}
#box9{background-color: #FFEBCD;text-align: center}

@media only screen and (max-width: 75em) {.box {flex-direction: column;} .in{flex-direction: row} .static{width: calc(100%/2);} .static_{width: auto} #box4{width: auto}#box7{width: auto}}
@media only screen and (max-width: 50em) {.box{flex-direction: column} .in{flex-direction: column;} .static{width: auto}}
